.commentBody{
    position: relative;
    border: solid rgba(0, 0, 0, 0.137) 1px;
    border-radius: 10px;
    margin: 2px;
    padding: 4px;
    width: 500px;
}

.commentContent{
    border: solid rgba(0, 0, 0, 0.137) 1px;
    border-radius: 10px;
    margin: 2px;
    padding: 4px;
    width: 480px;
}

.commentContentText{
    padding-left:8px;
}

@media (max-width: 500px) {
    .commentBody{
        width: 90vw;
    }

    .commentContent{
        width: 85vw;
    }
  }