.img-container {
  width: 100px;
  height: 100px;
  perspective: 100px; /* The higher the value, the less dramatic the 3D effect */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.img-container:hover .img {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
}
a.img-container {
  width: 100px;
  height: 100px;
  perspective: 100px; /* The higher the value, the less dramatic the 3D effect */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out,
    border 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px solid transparent;
}

.img-container:hover .img {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
  border: 6px solid rgba(255, 255, 0, 0.7);
}
